/* base styles */

body {
    font-family:"Montserrat";
    background-color:black;
    color:white;
    margin:0 auto;
}
a {
    text-decoration:none;
    font-weight:bold;
    color: white;
}
a:visited {
    color:rgba(255,255,255,0.7);
}
a:hover {
    text-decoration:underline;
}
#welcome {
    margin-top:100px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
#title {
    margin-right:6.25em;
}
#tableofcontents {
    background-image:linear-gradient(300deg,rgba(255,255,255,0.05),rgba(255,255,255,0.08));
    padding:0.3125em 1.25em;
    border-radius:1.5625em;
    width:18.75em;
    margin:1.5625em 0;
    overflow:hidden;
    position:relative;
    top:0.9375em;
}
.grey {
    color:gray;
}
.nosense {
    color:#FFC107;
}
h1,h2 {
    font-family:"Akira";
    line-height:0.75;
    position:relative;
    top:0.2em;
    margin-bottom:0;
}
h1 {
    font-size:320%;
}
h2 {
    font-size:150%;
}
h3 {
    font-size:90%;
    font-family:"Akira";
    line-height:0.9;
    position:relative;
    top:0.1em;
    margin-bottom:0.2em;
}
section {
    margin:3.125em auto;
}
.articles {
    margin:6.25em auto;
}
img {
    display:block;
    max-width:65vw;
    height:auto;
    max-height:50vh;
    margin-left:auto;
    margin-right:auto;
    filter:grayscale(100%);
    filter:contrast(200%);
}
.rotate {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    max-width:80vw;
    height:auto;
    max-height:50vh;
    margin:-5em auto;
}
.tablediv {
    overflow-x:auto;
}
table {
    border-collapse:collapse;
}
table,th,td {
    border:1px solid white;
}
td {
    text-align:center;
}
#nav {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.navlink {
    background-image:linear-gradient(300deg,rgba(255,255,255,0.1),rgba(255,255,255,0.13));
    padding:0.8125em 1.125em;
    border-radius:1.5625em;
}
.inline-icon {
   vertical-align: bottom;
   font-size: 1.125em !important;
}
footer {
    margin-bottom:50px;
}
@font-face {
  font-family:"Akira";
  src:url("../assets/akira-expanded-demo.otf") format("opentype");
}
@font-face {
  font-family:Montserrat;
  src:url("../assets/montserrat-regular.otf") format("opentype");
}

/* mobile styles*/

body {
    max-width:90%
}

/* laptop styles */

@media screen and (min-width:960px) {
    body {
        font-size:18px;
    }
}

/* desktop styles */

@media screen and (min-width:1200px) {
    body {
        font-size:20px;
        max-width:1200px;
    }
}
