/* base styles */

body,a {
    font-family:"Montserrat";
    background-color:black;
    color:white;
    margin:0 auto;
}
#welcome {
    background:url("mir-an.png") no-repeat contain;
    margin-top:100px;
}
h1 {
    font-family:"Akira";
    font-size:320%;
    position:relative;
    top:10px;
    margin-bottom:0;
}
#welcometext {
    position:relative;
    top:15px;
}
.cards {
    margin:0 auto 100px;
}
.card {
    background-image:linear-gradient(300deg,rgba(255,255,255,0.04),rgba(255,255,255,0.08));
    height:150px;
    padding:5px 20px;
    border-radius:25px;
    margin:25px auto;
}
.topic {
    font-family:"Akira";
    font-size:150%;
    position:relative;
    top:10px;
    margin-bottom:0;
}
.link {
    background-image:linear-gradient(300deg,rgba(255,255,255,0.05),rgba(255,255,255,0.1));
    float: right;
    top:10px;
    padding:13px 18px;
    border-radius:25px;
}
footer {
    margin-bottom:50px;
}
@font-face {
  font-family:"Akira";
  src:url("akira-expanded-demo.otf") format("opentype");
}
@font-face {
  font-family:Montserrat;
  src:url("montserrat-regular.otf") format("opentype");
}

/* mobile styles*/

.card {
    max-width:85%
}
