/* base styles */

body,a {
    font-family:"Montserrat";
    background-color:black;
    color:white;
    margin:0 auto;
    text-decoration:none;
}
a {
    font-weight:bold;
}
#welcome {
    margin:100px 0px 50px;
}
#tableofcontents {
    position:relative;
    top:15px;
}
.grey {
    color:gray;
}
.nosense {
    color:#FFC107;
}
h1 {
    font-family:"Akira";
    font-size:320%;
    line-height:0.75;
    position:relative;
    top:10px;
    margin-bottom:0;
}
h2 {
    font-family:"Akira";
    font-size:150%;
    line-height:0.75;
    position:relative;
    top:10px;
    margin-bottom:0;
}
section {
    margin:50px auto 100px;
}
footer {
    margin-bottom:50px;
}
@font-face {
  font-family:"Akira";
  src:url("../akira-expanded-demo.otf") format("opentype");
}
@font-face {
  font-family:Montserrat;
  src:url("../montserrat-regular.otf") format("opentype");
}

/* mobile styles*/

body {
    max-width:90%
}
